<a class="buttons" href="#/trainingCard1">Träningskort 1</a>
<a class="buttons" href="#/trainingCard2">Träningskort 2</a>
<a class="buttons" href="#/trainingCard3">Träningskort 3</a>
<a class="buttons" href="#/trainingCard4">Träningskort 4</a>




























<!--<link href="css/index.css" rel="stylesheet" />-->
<!--<button ng-click="test()">Läs datum fil</button>
<button ng-click="makeFile()">skapa ny fil</button>
<button ng-click="readFiles()">läs ny fil</button>
<div ng-class=
     "{locked: myObj.ett.state === 'locked', 
     done: myObj.ett.state === 'done', 
     available: myObj.ett.state === 'available'}">Stuff Goes Here</div>
<div ng-class="{locked: myObj.tre.state === 'locked', done: myObj.tre.state === 'done', available: myObj.tre.state === 'available'}">Stuff Goes Here</div>
<a href="#/">main</a>-->

<!DOCTYPE html>
<html>
<body>
    <div class="header">
        <div class="position-img" onclick="goBack()">
            <img class="img-head" src="img/back-white.png" />
        </div>
        Medarbetare
    </div>
    <div id="centerContentTrainingcard">
        <a class="buttons" href="trainingCard1.html" ng-class="{testest: test==true}">Träningskort 1</a>
        <a class="buttons" href="trainingCard2.html">Träningskort 2</a>
        <a class="buttons" href="trainingCard3.html">Träningskort 3</a>
        <a class="buttons" href="trainingCard4.html">Träningskort 4</a>
    </div>
</body>
</html>
