<h1>Second</h1>
<script src="scripts/second.js"></script>
<!--<link href="css/index.css" rel="stylesheet" />-->
<!--<button ng-click="test()">Läs datum fil</button>
<button ng-click="makeFile()">skapa ny fil</button>
<button ng-click="readFiles()">läs ny fil</button>
<div ng-class=
     "{locked: myObj.ett.state === 'locked', 
     done: myObj.ett.state === 'done', 
     available: myObj.ett.state === 'available'}">Stuff Goes Here</div>
<div ng-class="{locked: myObj.tre.state === 'locked', done: myObj.tre.state === 'done', available: myObj.tre.state === 'available'}">Stuff Goes Here</div>
<a href="#/">main</a>-->